#line-chart {
    max-width: 500px;
    max-height: 400px; 
    color: rgb(53, 182, 169)
}

body {
    background: rgb(56,56,56)
}

.chart-div {
    display:flex;
}

th, tr {
    color: rgb(53, 182, 169)
}

.chart-table {
    padding-left: 10px;
}

.reset-button {
    margin-left: 10px;
}