.material-icons {
    padding-top: 12px;
}

.sideBar{
    background: rgb(255, 166, 43)
    /*background: rgb(72, 159, 181); */
    /*background: rgb(62, 199, 185); */
}

#mobile-navbar {
    display: none;
}

@media only screen and (max-width: 450px) {
    .sideBar {
        display: none;
    }
}

@media only screen and (max-width: 450px) {
    #mobile-navbar {
        display:block;
    }
}